flask>=2.3.0
yt-dlp>=2024.1.0




cloudflared.exe service install eyJhIjoiOGQ4Njg2MmQyYTY0NmY1Yjc4ODFkNTg2YmMxY2UyZGYiLCJ0IjoiMWFlMWIzNjEtNjI4Ny00NDg2LThkNzYtYzVmYmUxYWM5NGI3IiwicyI6IlpUbG1NMkkyT1RVdFpqazNPQzAwWldNeExUa3dNV1l0T0RnNE9EZzFaVGhoTVRrMSJ9
